:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --bg-color: #f5f4fa;
  --secondary-bg-color: #e5e5e5;
  --third-bg-color: #2f303a;
}

.body {
  background-color: var(--bg-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

/* Site nav */
.logo {
  color: var(--accent-color);

  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}

.logo:focus {
  color: var(--accent-color);
}

.site-nav a {
  color: var(--secondary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

.auth-nav a {
  color: var(--secondary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.auth-nav a:hover,
.auth-nav a:focus {
  color: var(--accent-color);
}

/* Hero */
.hero-title {
  color: var(--white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.06em;
}

.hero {
  background-color: var(--third-bg-color);
}

/* Button */
.button {
  color: var(--primary-text-color);
  background-color: var(--bg-color);
}

.button.primary {
  color: var(--white-color);
  background-color: var(--accent-color);

  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
}

.button.secondary {
  color: var(--secondary-text-color);
  background-color: var(--secondary-bg-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

.button.secondary:hover,
.button.secondary:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.button.primary:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

/* Section */
.section-title {
  color: var(--secondary-text-color);

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.secondary-section-title {
  color: var(--secondary-text-color);

  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.third-section-title {
  color: var(--secondary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.section-secondary {
  background-color: var(--secondary-bg-color);
}

/* Footer */
.footer {
  background-color: var(--third-bg-color);
}

.address {
  color: var(--white-color);
}

.address:hover,
.address:focus {
  color: var(--accent-color);
}

.address-title {
  color: rgba(255, 255, 255, 0.6);
}

.address-title:focus,
.address-title:hover {
  color: var(--accent-color);
}
