:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --bg-color: #f5f4fa;
  --secondary-bg-color: #e5e5e5;
  --third-bg-color: #2f303a;
}

body {
  background-color: var(--bg-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  padding: 5px;
  text-decoration: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  /* outline: 2px solid tomato; */
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  width: 1200px;
}

.container.footer {
  display: flex;

  padding-top: 60px;
  padding-bottom: 60px;
}

/* навигация */

.portfolio.header {
  border-bottom: 1px solid #ececec;
}

nav {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--accent-color);

  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}

.logo:focus {
  color: var(--accent-color);
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item + .item {
  margin-left: 50px;
  /* background-color: tomato; */
}

.site-nav a {
  display: block;
  padding-bottom: 32px;
  padding-top: 32px;

  color: var(--secondary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.auth-nav {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  margin-left: auto;
}

.auth-nav .item + .item {
  margin-left: 50px;
}

.auth-nav a {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
}

.contact:hover,
.contact:focus {
  color: var(--accent-color);
}

.contact:hover .mail,
.contact:focus .mail {
  fill: var(--accent-color);
}

.mail {
  margin-right: 10px;
  fill: var(--primary-text-color);
}

/* .letter::before {
  display: inline-block;
  content: '';
  width: 16px;
  height: 12px;
  margin-right: 10px;
  background-color: rebeccapurple;
  background-image: url('../images/envelope.svg');
  background-size: contain;
} */

/* герой */
.hero-title {
  /* outline: 2px solid tomato; */
  padding-bottom: 30px;
  padding-top: 0;

  color: var(--white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  letter-spacing: 0.06em;
}

.hero {
  /* padding-top: 200px;
  padding-bottom: 200px; */
  text-align: center;
  background-color: var(--third-bg-color);
}

.overlay {
  max-width: 1600px;
  height: 600px;
  padding-top: 200px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 1px solid turquoise; */
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/new_photo.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* кнопочки */
.button {
  border-radius: 4px;
  padding: 10px 32px;

  color: var(--primary-text-color);
  background-color: var(--bg-color);
  cursor: pointer;
}

.button.hero {
  color: var(--white-color);
  background-color: var(--accent-color);

  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
}

.button.secondary {
  color: var(--secondary-text-color);
  background-color: var(--secondary-bg-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border: 0;
  text-align: center;

  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
}

.button.secondary:hover,
.button.secondary:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.button.hero:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

/* шо по секциям */
.business,
.team,
.examples,
.customers {
  padding-bottom: 94px;
  padding-top: 94px;
}

.benefits {
  padding-bottom: 0;
  padding-top: 94px;
}

.benefits.list {
  display: flex;
  justify-content: space-between;

  padding-top: 0;
  padding-bottom: 0;
}

.benefits .item {
  width: calc((100% - 90px) / 4);
}

.benefits .item::before {
  display: block;
  content: '';
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--secondary-bg-color);
  background-position: center;
  background-repeat: no-repeat;
}

.item.details::before {
  background-image: url('../images/antenna.svg');
}

.item.clock::before {
  background-image: url('../images/clock.svg');
}

.item.diagram::before {
  background-image: url('../images/diagram.svg');
}

.item.astronaut::before {
  background-image: url('../images/astronaut1.svg');
}

/* .benefits .item:nth-child(4n) {
  margin-right: 0;
} */

.business.list {
  display: flex;
  justify-content: space-between;

  padding-top: 0;
  padding-bottom: 0;
}

.business .item {
  width: calc((100% - 60px) / 3);
}

/* .business .item:nth-child(3n) {
  margin-right: 0;
} */

.business-image {
  display: flex;
}

.item-image {
  display: block;

  width: 100%;
  height: auto;
}

.team {
  background-color: var(--secondary-bg-color);
}

.team.list {
  display: flex;
  justify-content: space-between;

  padding-top: 0;
  padding-bottom: 0;
}

.team .item {
  width: calc((100% - 90px) / 4);

  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* .team .item:nth-child(4n) {
  margin-right: 0;
} */

.team-image {
  display: flex;
}

.customers.list {
  display: flex;

  padding-top: 0;
  padding-bottom: 0;
}

.customers .item {
  width: calc((100% - 150px) / 6);
}

.customers .item:not(:last-child) {
  margin-right: 30px;
}

.link-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 32px;
  padding-left: 32px;
}

.customers-image {
  height: 60px;
  padding: 0;

  fill: #afb1b8;
}

.link-item:hover,
.link-item:focus {
  border: 1px solid var(--accent-color);
}

.link-item:hover .customers-image,
.link-item:focus .customers-image {
  fill: var(--accent-color);
}

.examples-nav {
  display: flex;
  justify-content: center;

  list-style: none;
  margin-bottom: 50px;
}

.examples-nav .item {
  margin-right: 8px;
}

.examples-nav .item:nth-child() {
  margin-right: 0;
}

.cards.list {
  display: flex;
  flex-wrap: wrap;

  padding-top: 0;
  padding-bottom: 0;
}

.cards .item {
  width: calc((100% - 60px) / 3);

  border: 1px solid #eeeeee;
  margin-right: 30px;
  margin-bottom: 30px;
}

.cards .item:nth-child(3n) {
  margin-right: 0;
}

.cards .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.cards .item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.section-title {
  margin-top: 0;
  color: var(--secondary-text-color);

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.secondary-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--secondary-text-color);

  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.benefits-title {
  margin-bottom: 10px;
  color: var(--secondary-text-color);

  font-weight: bold;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.06em;
}

.benefits-text {
  margin-bottom: 0;
  margin-top: 0;
}

.cards-title {
  margin-top: 20px;
  margin-bottom: 4px;
  margin-left: 24px;
  color: var(--secondary-text-color);

  font-weight: bold;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.06em;
}

.cards-text {
  margin-left: 24px;
  margin-top: 0;
  margin-bottom: 20px;
}

.team-text {
  text-align: center;
  margin-bottom: 16px;
  margin-top: 10px;
}

.team-title {
  margin-bottom: 0px;
  margin-top: 30px;
  color: var(--secondary-text-color);

  text-align: center;
  font-weight: bold;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.06em;
}

.info.list {
  display: flex;
  justify-content: center;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 24px;
}

.info .links {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.links:hover,
.links:focus {
  background-color: var(--accent-color);
}

.links:hover .team-social,
.links:focus .team-social {
  fill: var(--white-color);
}

.team-social {
  fill: #afb1b8;
}

/* подвальчик */
.footer {
  background-color: var(--third-bg-color);
}

.nav-block {
  display: flex;
  align-items: baseline;
}

.footer-navigation {
  margin-right: 70px;
}

.footer-list {
  margin-top: 20px;
  list-style: none;
}

.address {
  color: var(--white-color);
}

.address:hover,
.address:focus {
  color: var(--accent-color);
}

.address-title {
  margin-top: 9px;
  color: rgba(255, 255, 255, 0.6);
}

.address-title:focus,
.address-title:hover {
  color: var(--accent-color);
}

.join-block {
  display: block;
}

.join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  display: block;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--white-color);
}

.add.list {
  display: flex;
  justify-content: flex-start;
}

.add .item {
  width: calc((100%-30px) / 4);
  margin-right: 10px;
}

.add .item:nth-child(4n) {
  margin-right: 0;
}

.add .item .links {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.add .item .links:focus,
.add .item .links:hover {
  color: var(--accent-color);
  background-color: var(--accent-color);
}

.add-social {
  fill: var(--accent-color);
}
