/* акцент #2196F3 */
/* основной цвет текста #757575 */
/* вторичный цвет текста #212121 */
/* белый #FFFFFF */
/* фон1 #E5E5E5 */
/* фон2 #F5F4FA */

.body {
    background-color: #FFFFFF;
    color: #757575;
}

.list {
    list-style: none;
}

.logo {
    color: #2196F3;
}

